.signup-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-top: 5px;
}

button {
  background-color: #20c6b1;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #54dfc8;
}

.login-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.google-icon,
.github-icon {
  font-size: 30px;
  cursor: pointer;
}

.google-icon:hover {
  color: #db4a39;
}

.github-icon:hover {
  color: #333;
}
